/* .inventoryTable{
    margin-top:30px;
    margin-bottom:30px;
    margin-left: 30%;
} */
table{
    margin-top:30px;
    margin-bottom:30px;
    margin-left: 10%;
    text-align: left;
    width:80%;
    border: 2px solid;
    border-radius: 1%;
    border-color: #6d76f7;
}

table th{
    font-size: xx-large;
    font-weight: 300;
    font-family:Arial, Helvetica, sans-serif;
    
}
table tr{
    font-size: x-large;
}

.searchLabel {
    font-size: x-large;
    margin-left:10%;
}

.searchInput {
    height: 40px;
    width: 65%;
    margin-top:30px;
    margin-bottom:10px;
    margin-left:5px;
    border: 2px solid;
    border-radius: 1%;
    color: #6d76f7;
}

.time{
    font-size: 20px;
    margin-left: 10%;
    position: relative;
    top: 20px
}

/*input[type=text] {
    height: 40px;
    width: 70px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

input[type=text]:focus {
    width: 70%;
}*/